﻿@{
	ViewData["Title"] = "State Add Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@model AdminPanel.Areas.LOC_State.Models.LOC_StateModel

<div class="container m-3">
	<form method="post" asp-controller="LOC_State" asp-action="LOC_StateSave">
		<div class="form-group row">
			<div class="col-3">
				<h3>Enter values</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>State Name</label>
				<input class="form-control" style="border:1px solid" type="text" value="@Model.StateName" asp-for="StateName" />
				<span asp-validation-for="StateName" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-3 m-2">
				<label>State Code</label>
				<input class="form-control" style="border:1px solid" type="text" value="@Model.StateCode" asp-for="StateCode" />
				<span asp-validation-for="StateCode" class="text-danger"></span>
			</div>
		</div>
		<div class="row">
			<div class="form-group dropdown col-3 m-2">
				<label>Country Name</label>
				<select class="form-control" style="border:1px solid" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))">
					<option value="">Select Country</option>
				</select>
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-3">
				<input type="hidden" name="StateID" value="@Model.StateID" />
				<input type="submit" value="Save" class="submit btn btn-success" />
			</div>
		</div>
	</form>
</div>
